<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://192.168.154.128:3306/test</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="com.jpa.entity.project.jpa_entity.models.GoodsEntity"/>
    <mapping class="com.jpa.entity.project.jpa_entity.models.LevelEntity"/>
    <mapping class="com.jpa.entity.project.jpa_entity.models.SkuEntity"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>